@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@400;700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
main{
    display: flex;
    /* margin: 20px 20px 0 20px; */
}

.contactos-bar{
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 100vh;
/*     background-color: aqua; */
/*     flex-wrap: wrap; */
    border: solid 0.5px rgb(224, 221, 221);

}

.usuario{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    border: #c5c8c9 solid 1px;
}

.left img{
    width: 18%;
    border-radius: 50%;
}

.left{
    display: flex;
    gap: 15px;
}

.datos.usuario{
    flex-direction: column;
    justify-content: center;
}

.datos-usuario h2{
    font-weight: bold;
    /* font-size: 2em; */
}

.status{
    font-weight: 100;
    color: #BEC1BB;
    font-size: 1.2em;
}

.right{
    display: flex;
    gap: 15px;
}

.right button{
    border: none;
}

i{
    color: #828485;
    
}

.new-chat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.btn{
    background-color: #A491D2;
    color: #fff;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 1rem;
}

button:hover{
    cursor: pointer;
}

.contacts img{
    width: 20%;
    border-radius: 50%;
}

.contacts{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    border: solid 0.5px rgb(224, 221, 221);
    font-family: "Open Sans", sans-serif;
}

.contacts p{
    font-size: 1.5em;
}

.main-container{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;

}

.negrita{
    font-weight: bold;
}

.info h1{
    font-size: 5.5em;
    font-weight: 500;
    color: #444749;
    margin-bottom: 0;
}

.container img{
    width: 400px;
}



.info h2 {
    /* margin-top: 0; */
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin: 0;
}


.first-line{
    margin-bottom: 0;
    width: 100%;
}

.second-line{
    margin-top: 0;
    width: 91.78%;
}